#header-logo, #header.no-user #header-logo {
    background: url("https://raw.githubusercontent.com/abdul18/heedo/master/public/images/white%20logo_blue%20background_pantone.jpg") no-repeat scroll 0 0 transparent;
    bottom: 0px;
    height: 61px;
    left: 15px;
    width: 350px;
    background-size: 133px;
}
body {
    background-color: #027bb6;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    min-width: 510px;
}
#header {
    background-image: none;
    background-color: #027bb6;
    min-height: 70px;
    padding-bottom: 7px;
}
.list-view > ul, .list-view > nav > ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    background: #027bb6;
    color: #fff;
}

#main {
position: relative;
z-index: 10;
background-color: #fff;
border: none;
border-top: none;
margin-bottom: 24px;
min-height: 450px;
max-width: 1095px;
}

#footer-links a {
border-left: 1px solid #BDAEAE;
color: #fff;
padding-right: 2px;
padding-left: 5px;
}

.list-view > header, .list-view #section-tabs-header {
    color: #FFF;
    background-color: #027bb6;
    background-image: none;
    background-repeat: repeat-x;
    margin-top: 0px;
    padding: 4px 12px;
    box-shadow: 0px 1px 0px rgba(143, 213, 243, 1) inset;
    border-bottom: 1px solid #9CD7F0;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.75);
    border-top: 1px solid #B6BABF;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
    line-height: 19px;
    height: inherit;
}
.list-view a.active {
background-color: transparent;
border-bottom-color: #9CD7F0;
border-top-color: #9CD7F0;
background-color: #fff;
}
#section-tabs .section-tab-hidden a {
color: #A6A2A2;
}
#right-side {
position: relative;
width: 260px;
color: #fff;
min-height: 20px;
z-index: 10;
margin: 13px 13px 0;
}

#right-side h2, #right-side .h2 {
font-size: 14px;
color: #fff;
font-weight: bold;
border-bottom: solid 1px #bbb;
margin: 13px 0;
overflow: hidden;
line-height: 1.2em;
padding-bottom: 6px;
}
.right-side-list li small {
padding: 3px 0 0px 31px;
display: block;
color: #fff;
font-size: 1em;
}
#right-side a {
color: #555;
text-decoration: none;
}
#right-side .ellipsis b {
color: #fff;
text-decoration: none;
}


