#header-logo, #header.no-user #header-logo {
    background: url("https://raw.githubusercontent.com/abdul18/heedo/master/public/images/white%20logo_blue%20background_pantone.jpg") no-repeat scroll 0 0 transparent;
    bottom: 0px;
    height: 60px;
    left: 15px;
    width: 350px;
    background-size: 180px;
}
body {
    background-color: #027bb6;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    min-width: 510px;
}
#header {
    background-image: none;
    background-color: #027bb6;
    min-height: 70px;
}

